<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>User info</h2>
          <%=form_with model:@user, local:true do |f| %>
              <label for="user_name">Name</label></br>
              <%= f.text_field :name %></br>
              <label for="user_image">Image</label>
              <input value="{}" data-reference="f8dbed24222a341a87c199ca5a592d1e" type="hidden" name="user[profile_image]">
              <input class="form-control-file user_image" data-reference="f8dbed24222a341a87c199ca5a592d1e" include_hidden="false" type="file" name="user[profile_image]" id="user_profile_image">
              <label for="user_introduction">Introduction</label></br>
              <%= f.text_field :introduction %></br>
              <%= f.submit 'Update User', class: 'btn btn-secondary' %>
              
            
          <% end %>
      </div>
    </div>
  </div>
</main>
